<div class="banner">
  <div class="banner-content">
    <%= image_tag('logoAT-white.svg', class: "logo-banner") %>
    <h1>Arthur Thieffry</h1>
    <p><span
      class="txt-rotate"
      data-period="2000"
      data-rotate='[ "Développement web fullstack", "Gestion de projets web", "Conseils web" ]'></span>
    </p>
  </div>
</div>
