<div id="contact-container">
  <p class="align-middle contact-text">
    Pour me contacter par mail,<br/> il vous suffit de cliquez ci-dessous
  </p>
  <%= link_to "mailto:arthieffry@gmail.com" do %>
    <%= icon("fas", "envelope") %>
  <% end %>
</div>
