<div id="profile-container">
  <div class="left-part col-4">
    <%= image_tag('logo.png', class: "photo-profile") %>
  </div>
  <div class="right-part col-8">
    <h1>Qui suis-je</h1>
    <p>Après mon <span>Master d'audit et stratégie d'entreprise</span>, j'ai eu ma prememière expérience professionnelle en gestion de projet, au service marketing d'un groupe de grande distribution. Souhaitant me rapprocher de nouvelles, je suis formé en <span>Ruby on Rails</span> au sein du programme <span>du Wagon</span>. Par la suite, j'ai appris <span>ReactJS - Redux</span> grâce à un programme de ce même bootcamp.</p>
    <p>Aujourd'hui je recherche un poste de Développeur Web, en France métropolitaine.</p>
  </div>
</div>
