<div id="profile-container">
  <div class="left-part col-6">
    Bonjour
<!--     <%= image_tag('logo.png', class: "photo-profile") %>
 -->  </div>
  <div class="right-part col-6">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia, velit commodi inventore blanditiis et laboriosam voluptate sint odio dolorum repellendus rem dolor ea accusamus molestiae omnis reiciendis amet veniam reprehenderit.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia, velit commodi inventore blanditiis et laboriosam voluptate sint odio dolorum repellendus rem dolor ea accusamus molestiae omnis reiciendis amet veniam reprehenderit.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia, velit commodi inventore blanditiis et laboriosam voluptate sint odio dolorum repellendus rem dolor ea accusamus molestiae omnis reiciendis amet veniam reprehenderit.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia, velit commodi inventore blanditiis et laboriosam voluptate sint odio dolorum repellendus rem dolor ea accusamus molestiae omnis reiciendis amet veniam reprehenderit.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia, velit commodi inventore blanditiis et laboriosam voluptate sint odio dolorum repellendus rem dolor ea accusamus molestiae omnis reiciendis amet veniam reprehenderit.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia, velit commodi inventore blanditiis et laboriosam voluptate sint odio dolorum repellendus rem dolor ea accusamus molestiae omnis reiciendis amet veniam reprehenderit.
  </div>
</div>
<div style="background: blue">Frites</div>
