// Define variables for your color scheme

// For example:
$red: #C2413B;
$blue: #469AE0;
$yellow: #FDB631;
$orange: #E67E22;
$green: #32B796;
$gray: #646464;
$light-gray: #B7B7B7;
$black: #111111;
$light-black: #262626;
$platinium: #DCDCDC;
$white: #F1F1F1;
