.carrousel-custom {
  background-color: #F1F1F1;
}

.img-carrousel {
  max-height: 100vh;
  margin: auto
}

.carousel-indicators li {
    display: inline-block;
    text-indent: 0;
    cursor: pointer;
    border: solid #AAAAAA 1px;
    background-color: #F1F1F1;
}
.carousel-indicators .active {
    border: solid #111111 1px;
    background-color: #111111;
}
