.carrousel-custom {
  background-color: #f7f7f7;
}

.img-carrousel {
  @media only screen and (min-width: 768px) {
    height: 50%;
    width: 50%;
  };
  margin: auto
}

.carousel-indicators {
  overflow: hidden;
  z-index: 1 !important;
}
.carousel-indicators li {
  display: inline-block;
  text-indent: 0;
  cursor: pointer;
  border: solid #AAAAAA 1px;
  background-color: #f7f7f7;
}
.carousel-indicators .active {
  border: solid #323643 1px;
  background-color: #323643;
}
