#profile-container {
  display: flex;
  background-color: $light-black;
  @media only screen and (max-width: 500px) {
    flex-direction: column;
  };
  @media only screen and (min-width: 500px) {
    flex-direction: row;
  };
  .left-part {
    background: $light-black;
    .photo-profile {
      height: auto;
      width: 100%;
    };
  }
  .right-part {
    padding: 5vh 5vw;
    background: $light-black;
    color: $light-gray;
    h1 {
      font-family: $sub-title;
      color: $white;
    };
    @media only screen and (max-width: 768px) {
      h1, .icons {
        text-align: center;
      };
    };
    span {
      font-weight: bold;
      color: $red
    };
    a {
      font-size: 50px;
      margin: 0 10px;
      text-decoration: none;
      color: $light-gray;
      &:hover {
        color: $white
      }
    }
  }
}


